body{
color: rgb(82, 82, 82);
background: rgb(245, 244, 244);
 margin: 0px;
 
  font-family: "Libre Baskerville", serif;
}

header {
border-bottom: solid 2px rgb(12, 32, 58);
padding: 20px;
font-size: 32px;
color: rgb(192, 197, 204);
}

section {
background: rgb(11, 5, 58);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img {
  height: 200px;
}